{% sw_extends '@Storefront/storefront/utilities/offcanvas.html.twig' %}



{% block utilities_offcanvas_content %}
    <div class="row">
        <div class="col-12">
            {{ page.product.customFields.custom_training_text | raw}}
        </div>
        <div class="col-12">
            <img class="img-fluid" src="{{ asset('bundles/templatetraining/additional-tab/doge_meme.jpeg', 'asset') }}">
        </div>
    </div>

{% endblock %}
